<div class="hidden px-4 border-l border-b border-r" data-target="tabs.panel">

  <% if flagged_files.length > 0 %>
    <% flagged_files.each do |f| %>
      <div class="rounded bg-white overflow-hidden shadow-lg my-4">
        <div class="m-4 text-2xl">
          <strong><%= f[0]%></strong>
        </div>
        <% f[1].each_pair do |k, v| %>
          <div class="m-4">
            <% if k.rule_id.nil? %>
              <span class="text-lg text-teal-700 font-bold"><%= k.search_value %></span>
              <%= " is on the lines: #{v[:locations].reverse}"%>
              <div class="font-bold text-xs">
                Custom Rule
              </div>
            <% else %>
              <span class="text-lg text-teal-700 font-bold"><%= k.search_value %></span>
              <%= " is on the lines: #{v[:locations].reverse}"%>
              <div class="mt-1">
                <%= link_to "See Rule", rule_path(k.rule_id), class: "border border-teal-700 bg-white text-teal-700 hover:bg-teal-700 hover:text-white text-xs font-bold px-2 rounded", target: :_blank, rel: "noopener noreferrer" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    No Files Have Been Flagged Yet.
  <% end %>
</div>
