<div class="hidden py-4 px-4 border-l border-b border-r" data-target="tabs.panel">

  <div class='my-4'>
    <ul class='py-2'>
      <% if flagged_files.length > 0 %>
        <% flagged_files.each do |f| %>
          <li>
            <strong><%= f[0]%></strong>
          </li>
          <% f[1].each_pair do |k, v| %>
            <li>
            <% if k.rule_id.nil? %>
            <span class="text-teal-700 font-bold"><%= k.search_value %></span>
              <%= " is on the lines: #{v[:locations].reverse}"%>
              <div class="font-bold text-xs">
            Custom Rule
              </div>
            <% else %>
            <span class="text-teal-700 font-bold"><%= k.search_value %></span>
              <%= " is on the lines: #{v[:locations].reverse}"%>
              <div class="mt-1">
            <%= button_to "See Rule", rule_path(k.rule_id), class: "selection-target border border-teal-700 bg-teal-700 text-white hover:bg-gray-200 hover:text-teal-700 text-xs font-bold px-2 rounded", target: :_blank, rel: "noopener noreferrer" %>
              </div>
          <% end %>
          </li>
          <% end %>
          <br>
        <% end %>
      <% else %>
        No Files Have Been Flagged Yet.
      <% end %>
    </ul>
  </div>
</div>
