<div class="hidden p-4" data-target="tabs.panel" >
  <p>
  <strong>Name:</strong>
  <%= repository.name %>
  </p>

  <p>
  <strong>Project:</strong>
  <%= repository.project %>
  </p>

  <p>
  <strong>Languages:</strong>
  <p>
  <% repository.languages.each_with_index do |l, index| %>
    <% if index == 0 %>
      <%= l.name %>
      <% next %>
    <% end %>
    <%= ", " + l.name %>
  <% end %>
  </p>
  </p>

  <p>
  <strong>Repo location:</strong>
  <%= repository.repo_location %>
  </p>

  <div class="flex m-4">
    <%= link_to "Edit Info", edit_repository_path, class: "selection-target border border-teal-700 hover:bg-teal-700 hover:text-white text-teal-700 font-bold py-1 px-2 rounded" %>
    <%= render 'updaterepo', repository: repository %>
  </div>

</div>
