<div class="hidden py-4 px-4 border-l border-b border-r" data-target="tabs.panel">
    <div class="flex justify-center">
        <div class="w-5/6 rounded bg-white overflow-hidden shadow-lg">
            <div class="px-4 py-2">
                <div class="font-bold text-xl text-teal-700 mb-2"><%= repository.name %></div>
                <p class="text-gray-700 text-lg">
                    <%= repository.project %>
                </p>
                <p class="text-gray-700 text-xs">
                    <br />
                    <%= repository.repo_location %>
                </p>
            </div>
            <div class="px-6 py-4">
                <% repository.languages.each_with_index do |l, index| %>
                <span class="inline-block bg-teal-700 border border-teal-700 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 hover:text-teal-700 hover:bg-gray-200"><%= link_to l.name, language_path(l) %></span>
                <% end %>
            </div>
            <div class="flex justify-end mr-4 mb-4">
                <%= link_to "Edit Info", edit_repository_path, class: "border border-teal-700 hover:bg-teal-700 hover:text-white text-teal-700 font-bold py-1 px-2 rounded" %>
                <%= render 'updaterepo', repository: repository %>
            </div>
        </div>
    </div>

</div>