<p id="notice"><%= notice %></p>

<h1>Repositories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Repo location</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.project %></td>
        <td><%= repository.repo_location %></td>
        <td><%= link_to 'Show', repository %></td>
        <td><%= link_to 'Delete', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repository', new_repository_path %>
