<%= stylesheet_link_tag 'loading_animation' %>
<p id="notice"><%= notice %></p>

<% if flash[:alert] %>
  <div id="error_explanation">
    <ul>
      <% flash.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div data-controller="create_grep_from_selection" data-reflex-root="[greplist]">

  <div data-controller="tabs" data-tabs-use-anchor="true" data-tabs-active-tab="-mb-px border-l border-r rounded-t" class="mt-4">
    <ul class="list-reset flex border-b">
      <li id="info" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="border-l border-b border-t border-teal-700 inline-block py-2 px-4 text-teal-700 font-semibold no-underline hover:bg-teal-700 hover:text-white" href="#info">Repository Info</a>
      </li>
      <li id="reviews" class="" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="border-l border-b border-t border-teal-700 inline-block py-2 px-4 text-teal-700 font-semibold no-underline hover:bg-teal-700 hover:text-white" href="#reviews">Reviews</a>
      </li>
      <li id="rules" class="" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="border-l border-b border-t border-teal-700 inline-block py-2 px-4 text-teal-700 font-semibold no-underline hover:bg-teal-700 hover:text-white" href="#rules">Languages/Rules</a>
      </li>
      <li id="greps" class="" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="border-l border-b border-t border-teal-700 inline-block py-2 px-4 text-teal-700 font-semibold no-underline hover:bg-teal-700 hover:text-white" href="#greps">Greps</a>
      </li>
      <li id="grep_results" class="" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="border-l border-b border-t border-r border-teal-700 inline-block py-2 px-4 text-teal-700 font-semibold no-underline hover:bg-teal-700 hover:text-white" href="#grep_results">Grep Results</a>
      </li>
    </ul>

    <%= render 'info_tab', repository: @repository %>

    <%= render 'reviews_tab', repository: @repository %>

    <%= render 'languages_tab', repository: @repository, languages: @languages %>

    <%= render 'greps_tab', repository: @repository, grep_status: @grep_status, modal_hidden: @modal_hidden %>

    <%= render 'grep_results_tab', repository: @repository, grep_status: @grep_status, flagged_files: @flagged_files, modal_hidden: @modal_hidden %>
  </div>
</div>
