<p id="notice"><%= notice %></p>

<% if flash[:alert] %>
  <div id="error_explanation">
    <ul>
      <% flash.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div data-controller="create_grep_from_selection" data-reflex-root="[greplist]">

  <div data-controller="tabs" data-tabs-use-anchor="true" data-tabs-active-tab="-mb-px border-l border-t border-r rounded-t">
    <ul class="list-reset flex border-b m-2">
      <li id="info" class="-mb-px mr-1" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="bg-gray-400 inline-block py-2 px-4 text-blue-500 font-semibold no-underline hover:bg-gray-600 hover:text-black focus:bg-indigo-200" href="#info">Repository Info</a>
      </li>
      <li id="reviews" class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="bg-gray-400 inline-block py-2 px-4 text-blue-500 font-semibold no-underline hover:bg-gray-600 hover:text-black focus:bg-indigo-200" href="#reviews">Reviews</a>
      </li>
      <li id="greps" class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="bg-gray-400 inline-block py-2 px-4 text-blue-500 font-semibold no-underline hover:bg-gray-600 hover:text-black focus:bg-indigo-200" href="#greps">Greps</a>
      </li>
      <li id="rules" class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
        <a class="bg-gray-400 inline-block py-2 px-4 text-blue-500 font-semibold no-underline hover:bg-gray-600 hover:text-black focus:bg-indigo-200" href="#rules">Languages/Rules</a>
      </li>
    </ul>

    <%= render 'info_tab', repository: @repository %>

    <%= render 'reviews_tab', repository: @repository %>

    <%= render 'greps_tab', repository: @repository, greps_status: @greps_status, greps_response: @greps_response, modal_hidden: @modal_hidden %>

    <%= render 'languages_tab', repository: @repository, languages: @languages %>
  </div>
</div>
