<p id="notice"><%= notice %></p>

<% if flash[:alert] %>
  <div id="error_explanation">
    <ul>
      <% flash.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
<strong>Name:</strong>
<%= @repository.name %>
</p>

<p>
<strong>Project:</strong>
<%= @repository.project %>
</p>

<p>
<strong>Languages:</strong>
<p>
<% ActiveSupport::JSON.decode(@repository.languages).each_with_index do |l, index| %>
  <% if index == 0 %>
    <%= l %>
    <% next %>
  <% end %>
  <%= ", " + l %>
<% end %>
</p>
</p>

<p>
<strong>Repo location:</strong>
<%= @repository.repo_location %>
</p>

<p>
<strong>Reviews:</strong>
<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>Owner</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @repository.reviews.each do |r| %>
      <tr>
        <td><%= r.start_date %></td>
        <td><%= r.owner %></td>
        <td><%= r.get_status %></td>
        <td><%= link_to 'View', r %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<div>
  <%= link_to 'Create Review of this Repo', new_review_path(repo_id: @repository.id) %> | 
  <%= link_to 'Back', repositories_path %> |
</div>

<div>
  <br>
  <%= render 'updaterepo', repository: @repository %>
</div>
