<%= form_with(model: diff, local: true) do |form| %>
  <% if diff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diff.errors.count, "error") %> prohibited this diff from being saved:</h2>

      <ul>
        <% diff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :review_id %>
    <%= form.text_field :review_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
