<%= javascript_include_tag 'patchscript' %>

<p id="notice"><%= notice %></p>

<p>
<strong>Review:</strong>
<%= link_to @diff.review.start_date, review_path(@diff.review_id) %>
</p>

<p>
<strong>Status:</strong>
<%= @diff.status %>
</p>

<%= render 'statusupdate', diff: @diff %>

<p>
<strong>Path:</strong>
<%= @diff.path %>
</p>

<p>
<strong>Reason:</strong>
<%= @diff.reason %>
</p>

<p>
<strong>Notes:</strong>
<%= render 'notesform', diff: @diff %>
</p>

<h2>Side-by-Side Patch Viewer v0.4</h2>
<form id="form_diff">
    <div style="padding-top:.3em" hidden><textarea rows="8" id="diffText">
        <%= @difftext %>
      </textarea></div>
</form>
<div id="diffResult" class="context"><strong style="color: red;">If you can see this, please <button onclick='location.reload()'>reload</button> the page.</strong></div>

<%= link_to 'Back to Review', review_path(@diff.review_id) %>

<script>
  document.addEventListener("turbolinks:load", function() {
    diffRender(document.getElementById('diffText').value,document.getElementById('diffResult'));
  })
</script>
