<p id="notice"><%= notice %></p>

<p>
  <strong>Rule:</strong>
  <%= @rule_tag.rule_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @rule_tag.tag_id %>
</p>

<%= link_to 'Edit', edit_rule_tag_path(@rule_tag) %> |
<%= link_to 'Back', rule_tags_path %>
