<% rules.each_with_index do |r, index| %>
  <div class="shadow-md category-<%= r.category.parameterize %>">
    <div class="tab w-full overflow-hidden border-t">
      <input class="absolute opacity-0" id="tab-single-<%=index%>" type="radio" name="tabs2">
      <label class="block p-5 leading-normal cursor-pointer font-bold text-teal-700" for="tab-single-<%=index%>"><%= r.title %></label>
      <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-teal-700 leading-normal">
        <div onmouseup="getSelectedText(this)" class='px-4'>
          <%= sanitize(r.body.html_safe) %>
          </br>
          <% if r.tags.any? %>
            <div class="text-teal-700 text-xl">
              Tags:
            </div>
            <% r.tags.each do |t| %>
              <%= link_to t.name, tag_path(t), class: "bg-gray-200 hover:bg-gray-400 hover:text-black" %>
            <% end %>
          <% end %>
          </br>
          <div class="flex items-center justify-center">
            <a id="link-to-build-grep-for-<%=greppable.id%>" href="#" class="selection-target button m-8 px-4 p-3 rounded-lg text-teal-700 font-bold border-teal-700 border hover:bg-teal-700 hover:text-white" data-reflex="click->SearchtermReflex#build" data-selection="" data-rule="<%=r.id%>" data-greppable="<%=greppable.id%>" data-type="Repository" >Grep Selected Text</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

