<p id="notice"><%= notice %></p>

<h1>Languages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Rules</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td><%= language.url %></td>
        <td><%= language.rules.count %></td>
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Delete', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language', new_language_path %>
<%= link_to 'Update Language Options', build_languages_path, data: { confirm: 'This may take a while. Are you sure?' } %>

