<p id="notice"><%= notice %></p>

<p>
<strong>Repository:</strong>
<%= @language.repository %>
</p>

<p>
<strong>Name:</strong>
<%= @language.name %>
</p>

<p>
<strong>Rules:</strong>
<% @language.rules.each do |r| %>
  <p>
  <%= link_to r.title, rule_path(r)  %>
  </p>
<% end %>
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
<%= link_to "Update Rules", build_language_rules_path(:lang => @language.id) %>
