<%= form_with(model: grep, local: true) do |form| %>

  <div class="field">
    <%= form.label :greppable_id %>
    <%= form.number_field :greppable_id, {value: 7}  %>
  </div>

  <div class="field">
    <%= form.label :greppable_type %>
    <%= form.text_field :greppable_type, {value: "Repository"} %>
  </div>

  <div class="field">
    <%= form.label :rule_id %>
    <%= form.text_field :rule_id %>
  </div>

  <div class="field">
    <%= form.label :results %>
    <%= form.text_area :results %>
  </div>

  <div class="field">
    <%= form.label :custom %>
    <%= form.check_box :custom, {checked: true} %>
  </div>

  <div class="field">
    <%= form.label :search_value %>
    <%= form.text_area :search_value, {id: 'grep-search-value', value: "Extension for Burp Suite"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
