<%= form_with(model: grep, local: true) do |form| %>

  <% if review %>
    <div class="field">
      <%= form.label :review_id %>
      <%= form.text_field :review_id, value: review.id %>
    </div>
  <% end %>

  <% if repository %>
    <div class="field">
      <%= form.label :repository_id %>
      <%= form.text_field :repository_id, value: repository.id %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rule_id %>
    <%= form.text_field :rule_id %>
  </div>

  <div class="field">
    <%= form.label :results %>
    <%= form.text_area :results %>
  </div>

  <div class="field">
    <%= form.label :custom %>
    <%= form.check_box :custom %>
  </div>

  <div class="field">
    <%= form.label :search_value %>
    <%= form.text_area :search_value, id: 'grep-search-value' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
