<p id="notice"><%= notice %></p>

<h1>Rules</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Category</th>
      <th>Title</th>
      <th>Body</th>
      <th>More info links</th>
      <th>Severity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.language_id %></td>
        <td><%= rule.category %></td>
        <td><%= rule.title %></td>
        <td><%= rule.body %></td>
        <td><%= rule.more_info_links %></td>
        <td><%= rule.severity %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
