<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= link_to @rule.language.name, language_path(@rule.language.id) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @rule.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @rule.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= sanitize(@rule.body.html_safe) %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @rule.severity %>
</p>

<p>
  <strong>Tags:</strong>
  <% @rule.tags.each do |t| %>
    <%= link_to t.name, tag_path(t) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
