<%= form_with(model: review, local: true) do |form| %>
  <% if flash[:error] %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:error].count, "error") %> prohibited this review from being saved:</h2>
      <% flash.each do |key, value|

        if value.class == String
          value = [value]
        end

        value.each do |value| %>
        <%= content_tag(:p, value, :class => "error flash #{key}") unless value.empty? %>
      <% end %>
    <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="field" hidden>
    <%= form.label :repository %>
    <%= form.text_field :repository_id, :value => repo_id %>
  </div>

  <div class="field">
    <%= form.label "Previous Commit" %>
    <%= form.collection_select :old_commit, commits.reverse_each, :sha, :message %>
  </div>

  <div class="field">
    <%= form.label "Current Commit" %>
    <%= form.collection_select :new_commit, commits.reverse_each, :sha, :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
