<p id="notice"><%= notice %></p>
<div class="py-4 px-4 border-l border-b border-r">
    <div class="my-1">
        <%= link_to 'Start A New Review', new_review_path, class: "border border-teal-700 hover:bg-teal-700 hover:text-white text-teal-700 font-bold py-1 px-2 rounded" %>
    </div>
    <div class="flex justify-center">
        <div class="table w-11/12 m-4 shadow-md">
            <div class="table-row-group">
                <div class="table-row">
                    <div class="table-cell bg-teal-700 text-white px-4 py-2 text-sm border">Start Date</div>
                    <div class="table-cell bg-teal-700 text-white px-4 py-2 text-sm border">Repository</div>
                    <div class="table-cell bg-teal-700 text-white px-4 py-2 text-sm border">Creator</div>
                    <div class="table-cell bg-teal-700 text-white px-4 py-2 text-sm border">Status</div>
                </div>
                <% @reviews.each_with_index do |r, index| %>
                <div class="table-row">
                    <div class="table-cell bg-<%= index.even? ? 'gray-200 ' : 'white ' %>text-gray-700 px-4 py-2 text-sm border underline"><%= link_to r.start_date, review_path(r) %></div>
                    <div class="table-cell bg-<%= index.even? ? 'gray-200 ' : 'white ' %>text-gray-700 px-4 py-2 text-sm border"><%= r.repository.name %></div>
                    <div class="table-cell bg-<%= index.even? ? 'gray-200 ' : 'white ' %>text-gray-700 px-4 py-2 text-sm border"><%= r.owner %></div>
                    <div class="table-cell bg-<%= index.even? ? 'gray-200 ' : 'white ' %>text-gray-700 px-4 py-2 text-sm border"><%= r.get_status %></div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

</div>