<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Repository</th>
      <th>Start date</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Old commit</th>
      <th>New commit</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.repository_id %></td>
        <td><%= review.start_date %></td>
        <td><%= review.status %></td>
        <td><%= review.owner %></td>
        <td><%= review.old_commit %></td>
        <td><%= review.new_commit %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %> | 
<%= link_to 'Repositories', repositories_path %>
