<p id="notice"><%= notice %></p>

<p>
<strong>Repository:</strong>
<%= link_to "#{@review.repository.name} - #{@review.repository.project}", repository_path(@review.repository_id) %>
</p>

<p>
<strong>Start date:</strong>
<%= @review.start_date %>
</p>

<p>
<strong>Status:</strong>
<%= @review.status %>
</p>

<p>
<strong>Owner:</strong>
<%= @review.owner %>
</p>

<p>
<strong>Old commit:</strong>
<%= @review.old_commit %>
</p>

<p>
<strong>New commit:</strong>
<%= @review.new_commit %>
</p>

<p>
<strong>Diffs:</strong><br>Filters:<br>
<%= check_box_tag "Ignored", 1, true, { onchange: "toggle_file_vis(this.name)"}  %>Ignored
<%= check_box_tag "Complete", 1, true, { onchange: "toggle_file_vis(this.name)"}  %>Complete
<%= check_box_tag "Vulnerable", 1, true, { onchange: "toggle_file_vis(this.name)"}  %>Vulnerable
<%= check_box_tag "Not-Reviewed", 1, true, { onchange: "toggle_file_vis(this.name)"}  %>Not Reviewed
<% ["Added", "Modified", "Deleted", "Copied", "Renamed", "Unmerged"].each do |reason| %>
  <%= render 'files', reason: reason, files: @review.diffs.select{|d| d.reason == reason} %>
<% end %>
</p>

<%= link_to 'Back', reviews_path %>

<%= javascript_include_tag 'reviews' %>
