<p id="notice"><%= notice %></p>

<p>
  <strong>Repository:</strong>
  <%= link_to @review.repository.name, repository_path(@review.repository_id) %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @review.start_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @review.status %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @review.owner %>
</p>

<p>
  <strong>Old commit:</strong>
  <%= @review.old_commit %>
</p>

<p>
  <strong>New commit:</strong>
  <%= @review.new_commit %>
</p>

<p>
  <strong>Diffs:</strong>
  <% ["Added", "Modified", "Deleted", "Copied", "Renamed", "Unmerged"].each do |reason| %>
    <%= render 'files', reason: reason, files: @review.diffs.select{|d| d.reason == reason} %>
  <% end %>
</p>

<%= link_to 'Back', reviews_path %>
