<p id="notice"><%= notice %></p>

<p>
  <strong>Repository:</strong>
  <%= @review.repository_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @review.start_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @review.status %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @review.owner %>
</p>

<p>
  <strong>Old commit:</strong>
  <%= @review.old_commit %>
</p>

<p>
  <strong>New commit:</strong>
  <%= @review.new_commit %>
</p>

<p>
  <strong>Diffs:</strong>
  <% @review.diffs.each do |diff| %>
    <%= link_to diff.path, diff_path(diff) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
