<p id="notice"><%= notice %></p>

<div class="py-4 px-4 border-l border-r" data-target="tabs.panel">
    <div class="flex justify-center">
        <div class="w-11/12 rounded overflow-hidden shadow-lg">
            <div class="flex justify-between px-4 py-2">
                <div class="font-bold text-xl text-teal-700 my-2">Review of: <%= link_to @review.repository.name, repository_path(@review.repository), class: "underline" %></div>
                <div class="font-bold text-md text-teal-700 my-2">Status: <%= @review.get_status %></div>
            </div>
            <div class="flex justify-between">
                <div class="grid grid-cols-1 gap-2">
                    <div class="text-gray-700 text-lg mx-4">As of: <%= @review.start_date %></div>
                    <div class="text-gray-700 text-xs mx-4 mb-1">Primary reviewer: <%= @review.owner %></div>
                </div>
                <div class="grid grid-cols-1 gap-2">
                    <div class="text-gray-700 text-xs mx-4">Starting commit hash: <%= @review.old_commit.first(10) %></div>
                    <div class="text-gray-700 text-xs mx-4 mb-1">Ending commit hash: <%= @review.new_commit.first(10) %></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-evenly border-l border-r mt-4">
    <div>
        <div class="font-bold text-md text-teal-700">Files by status:</div>
    </div>
    <div>
        <div class="grid grid-cols-4 gap-2">
            <button name="Ignored" onclick="toggle_file_vis(this)" class="border border-teal-700 hover:bg-teal-700 bg-gray-200 text-black hover:text-white text-xs px-2 rounded">Ignored</button>
            <button name="Complete" onclick="toggle_file_vis(this)" class="border border-teal-700 hover:bg-teal-700 bg-gray-200 text-black hover:text-white text-xs px-2 rounded">Complete</button>
            <button name="Vulnerable" onclick="toggle_file_vis(this)" class="border border-teal-700 hover:bg-teal-700 bg-gray-200 text-black hover:text-white text-xs px-2 rounded">Vulnerable</button>
            <button name="Incomplete" onclick="toggle_file_vis(this)" class="border border-teal-700 hover:bg-teal-700 bg-gray-200 text-black hover:text-white text-xs px-2 rounded">Incomplete</button>
        </div>
    </div>
</div>

<div>
    <% ["Added", "Modified", "Deleted", "Copied", "Renamed", "Unmerged"].each do |reason| %>
    <%= render 'files', reason: reason, files: @review.diffs.select{|d| d.reason == reason} %>
    <% end %>
</div>

<!-- TODO: Evaluate refactoring this diff status filtering to Stimulus-->
<%= javascript_include_tag 'reviews' %>